/* Global styles */

* {
    box-sizing: border-box;
}

body {    
    margin: 0;
    padding: 0;
    font-size: 1.25em;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
    background-color: rgba(108, 182, 255);
    background-image: url(../img/background-forest.svg);
    background-size: cover;
  }

  header {
    color: #4A4A4A;
    text-align: center;
    background: linear-gradient(to bottom, #6C87FF, transparent);
    background-size: cover;
    overflow: hidden;
    clear: both;
    padding: 20px;
}

  footer {
    color: #4A4A4A;
    text-align: center;
    background: linear-gradient(to top, #6C87FF, transparent);
    overflow: hidden;
    clear: both;
    margin: 0;
    padding: 0;
    padding: 20px;
}

a {
  color: #4574A2;  
  text-decoration: none;
  font-weight: bold;
}

.col a,
.sub-footer a,
header a {
    color: #fff;  
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 5px #4A4A4A;
}

img {
  width: 100%;
}

.flex-item p {
  padding: 5px 20px 0 20px;
}

/* Clearfix */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
