/* Global styles */

* {
    box-sizing: border-box;
}

body {    
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.6;
    font-family: 'Public Sans', sans-serif;
    color: #4A4A4A;
    background-color: rgba(108, 182, 255);
    background-image: url(../img/background-forest.svg);
    background-size: cover;
    clear: both;
  }

  header {
    color: #4A4A4A;
    text-align: center;
    background: linear-gradient(to bottom, #6C87FF, transparent);
    background-size: cover;
    overflow: hidden;
    clear: both;
    padding: 20px;
}

  footer {
    color: #4A4A4A;
    text-align: center;
    background: linear-gradient(to top, #6C87FF, transparent);
    overflow: hidden;
    clear: both;
    margin: 0;
    padding: 0;
    padding: 20px;
}

a {
  color: #4574A2;  
  text-decoration: none;
  font-weight: bold;
}

.col a,
.sub-footer a,
header a {
    color: #fff;  
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 5px #4A4A4A;
}

img {
  width: 100%;
}

.flex-item p {
  padding: 5px 20px 0 20px;
}

/* Clearfix */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Mobile 320px Styles*/

@media only screen and (min-width: 320px) {
  
  /* Text styles */
  
  h1 {
  color: #fff;
  line-height: 1;
  }
  h3 {
    font-weight: lighter;
    color: #4A4A4A;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  h2 {
      color: #fff;
      font-size: 1.25em;
      padding-bottom: 20px;
  }
  h4 {
      color: #4A4A4A;
  }
  
/* Flexbox - Code from first project used as basis + MDN Resource */

.flex-container {
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: flex; 
  flex-flow: row wrap;
  max-width: 320px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto;
  flex-basis: 384px;
}

.flex-item {
  flex: 1 1 320px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 2%;
  color: #4A4A4A;
  margin-bottom: 20px;
  box-shadow: 10px 5px 10px #4574A2;
}
  /* Layout styles */
  
  header h1 {
      margin-top: 0;
      font-size: 1.5625em;
      padding: 50px 0 0 0;
  }

  header .float-left {
    text-align: center;
  }
  .main-nav {
      padding: 0 0 20px 0;
      list-style-type: none;
  }
  
  .main-nav li {
      background: rgba(255, 255, 255, .4);
      display: block;
      border-radius: 2%;
      margin: 5px 50px;
      padding: 10px 110px;
      list-style: none;
      text-align: center;   
  }
  
  .banner {
      color: #fff;
      border-radius: 2%;
      text-shadow: 2px 2px 5px #4A4A4A;
      padding: 20px;
      margin: 20px;
  }
  
  .name {
      text-shadow: 2px 2px 5px #4A4A4A;
  }
  
  .wrapper {
      color: #fff;
      padding: 20px;
      text-align: center;
  }
  
  .div-block {
      background-color: rgba(255, 255, 255, .8);
      border-radius: 2%;
      color: #4A4A4A;
      padding: 20px 20px 5px 20px;
      margin: 20px;
  }
  .mobile {
      display: none;
  }
  .phone {
      padding: 0;
      margin: 20px;
  }
  
  .sub-footer {
      display: none;
  }
  
  /* Floats/Columns */
  
  .col {
      border-top: 1px solid #4A4A4A;
      color: #fff;
      text-shadow: 2px 2px 5px #4A4A4A;
      padding: 15px;
      font-weight: bold;
      display: block;
  }
  .float-left {
      float: left;
      text-align: left;
  }
  
  .float-right {
      float: right;
      text-align: right;
  }
}

/* Tablet 768px Styles */

@media (min-width: 768px) {
  
  /* Text styles */
  
  h1 {
  color: #fff;
  line-height: 1;
  }
  h2 {
  color: #fff;
  line-height: 1;
  text-shadow: 2px 2px 5px #4A4A4A;
  }
  h3 {
    color: #4A4A4A;
    font-weight: lighter;
  }
  h4 {
      color: #fff;
      text-shadow: 2px 2px 5px #4A4A4A;
  }
  h2 {
      font-size: 1.25em;
  }
  h2,
  p {
      padding-bottom: 20px;
  }

  /* Flexbox - Code from first project used as basis + MDN Resource */

  .flex-container {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      flex-flow: row wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      max-width: 768px;
      margin: 0 auto;
  }
  
  .flex-item {
      flex: 1 1 230px;
      background-color: rgba(255, 255, 255, .8);
      border-radius: 2%;
      color: #4A4A4A;
      margin: 0 20px 20px 0;
      box-shadow: 10px 5px 10px #4574A2;
  }
  
  .flex-left {
width: 100%;
  }
  /* Layout styles */
  
  header h1 {
      margin-top: 0;
      font-size: 1.5625em;
      text-align: center;
      padding: 50px 50px 0 50px;
  }
  
  header p {
      text-align: left;
  }
  header .wrapper {
      width: 100%;        
  }

  header .float-left {
      width: 60%;
      text-align: left;
  }

  header .float-right {
      width: 40%;
  }
  .main-nav ul {
      list-style: none;
  }
  .main-nav li {
      display: inline-block;
      padding: 20px 20px;
      text-align: center;
      margin: 0;
  }
  
  .profile-image {
      padding: 20px 0px 10px 20px;
      width: 20%;
  }
  .banner {
      color: #fff;
      border-radius: 2%;
      text-shadow: 2px 2px 5px #4A4A4A;
      padding: 20px;
      margin: 20px;
  }
  
  .name {
      text-shadow: 2px 2px 5px #4A4A4A;
  }
  
  .wrapper {
      color: #4A4A4A;
      padding: 20px;
      text-align: center;
  }
  
  .phone {
      padding: 0;
      margin: 20px;
      line-height: 0.75;
  }  

  .sub-footer {
      display: block;
      border-top: 1px solid #4A4A4A;
      padding: 3px;
  }
  .sub-footer ul {
      list-style: none;
      text-align: center;
  }
  
  .sub-footer li {
      display: inline-block;
      padding: 10px;
  }

  .div-block {
      background-color: rgba(255, 255, 255, .9);
      border-radius: 2%;
      color: #4A4A4A;
      padding: 20px 20px 5px 20px;
      margin: 20px;
  }
  /* Floats/Columns */
  
  .col {
      display: none;
  }
  .float-left {
      float: left;
  }
  
  .float-right {
      float: right;
  }
}
/* Desktop minimum 769px styles */

@media (min-width: 1024px) {

  /* Text styles */
  
  h1 {
  color: #fff;
  line-height: 1;
  }
  h2 {
  color: #fff;
  line-height: 1;
  }
  h3 {
    color: #4A4A4A;
    font-weight: lighter;
  }
  h4 {
      color: #fff;
  }
  h2 {
      font-size: 1.25em;
  }
  h2,
  p {
      padding-bottom: 20px;
  }
  
  /* Flexbox - Code from first project used as basis + MDN Resource */
  
  
  .flex-container {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      flex-flow: row wrap;
      max-width: 1024px;
      -ms-flex-pack: distribute;
      justify-content: flex-end;
      margin: 0 auto;
      list-style: none;
  }
  
  .flex-item {
      flex: 1 1 250px;
      background-color: rgba(255, 255, 255, .8);
      border-radius: 2%;
      color: #4A4A4A;
      margin: 0 20px 20px 0;
      box-shadow: 10px 5px 10px #4574A2;
  }
  
  .flex-left {
    width: 60%;
  }
  .flex-right {
    width: 40%;
  }
  
  /* Layout styles */
  
  header h1 {
      margin-top: 0;
      padding: 50px 10px 0 0;
      font-size: 1.5625em;
      text-align: left;
      padding: 50px 0 0 0;
  }
  
  header p {
      text-align: left;
  }
  header .wrapper {
      width: 100%;        
  }
  
  header .float-left {
      width: 60%;
  }
  
  header .float-right {
      width: 40%;
  }
  
  .main-nav ul {
      list-style: none;
  }
  
  .main-nav li {
      display: inline-block;
      padding: 20px;
      text-align: right;
  }
  .profile-image {
      padding: 20px 0px 10px 20px;
      width: 20%;
  }
  .banner {
      color: #fff;
      border-radius: 2%;
      text-shadow: 2px 2px 5px #4A4A4A;
      padding: 20px;
      margin: 20px;
  }
  
  .desktop {
      display: none;
  }
  
  header .name {
      text-shadow: 2px 2px 5px #4A4A4A;
      text-align: left;
  }
  
  .name {
      text-shadow: 2px 2px 5px #4A4A4A;
      text-align: center;
  }
  
  .wrapper {
      color: #4A4A4A;
      padding: 20px;
      text-align: center;
  }
  
  .phone {
      padding: 0;
      margin: 20px;
      line-height: 0.75;
  }  
  
  .sub-footer {
      border-top: 1px solid #4A4A4A;
      padding: 3px;
  }
  .sub-footer ul {
      list-style: none;
      text-align: center;
  }
  
  .sub-footer li {
      display: inline-block;
      padding: 10px;
  }
  
  .div-block {
      background-color: rgba(255, 255, 255, .9);
      border-radius: 2%;
      color: #4A4A4A;
      padding: 20px 20px 5px 20px;
      margin: 20px;
  }
  /* Floats/Columns */
  
  .col {
      display: none;
  }
  .float-left {
      float: left;
  }
  
  .float-right {
      float: right;
  }
  }
  
  